html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  /*
   * CSS image reference example.
   */
  background-image: url('./images/bg-pattern.png');
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  width: 1200px;
  margin: auto;
}

.form-wrapper {
  text-align: center;
  margin: auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.card-item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 15px;
}
.card-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.card-item:nth-child(3n) {
  margin-right: 0px;
}

.stats {
  display: flex;

  justify-content: space-between;
}
.stats-item {
  display: flex;
  align-items: center;
}
