html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  /*
   * CSS image reference example.
   */
  background-image: url('./images/bg-pattern.png');
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  width: 1080px;
  margin: auto;
}

.form-wrapper {
  text-align: center;
  margin: auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.card-item {
  position: relative;
  width: calc((100% - 15px) / 4);
  height: 266px;
  margin-right: 5px;
  margin-bottom: 5px;

  overflow: hidden;
  transition: 1s;
}
.card-item:nth-last-child(-n + 4) {
  margin-bottom: 0px;
}

.card-item:nth-child(4n) {
  margin-right: 0px;
}

.card-item:hover,
.card-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transform: scale(1.05);
  z-index: 100;
}

.photo-card {
  height: inherit;
}

.photo-card img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-item:hover .stats,
.card-item:focus .stats {
  transform: translatey(216px);
}

.stats {
  position: absolute;
  display: flex;
  bottom: 0;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  min-width: 100%;
  padding: 10px;
  background: rgba(189, 189, 189, 0.4);

  top: 0;
  transform: translatey(266px);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.stats-item {
  display: flex;
  align-items: center;
}

.material-icons {
  color: rgb(20, 20, 20);
  font-size: 18px;
}
