html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  width: 1080px;
  margin: auto;
  padding-top: 40px;
}

.form-wrapper {
  position: relative;
  text-align: center;
  margin: auto;
  margin-bottom: 30px;
}

.label {
  display: block;
  font-size: 32px;
  font-weight: 900;
  text-align: center;
  color: #ff8b88;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 30px;
}

input {
  position: relative;
  width: 100%;
  padding: 12px 24px;

  background-color: transparent;
  transition: transform 250ms ease-in-out;
  font-size: 18px;
  line-height: 18px;
  color: #575756;
  border-radius: 50px;
  border: 2px solid #575756;
  outline-style: none;

  transition: all 250ms ease-in-out;
}

input::placeholder {
  color: #ff8b88;
}

input:hover,
input:focus {
  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 2px solid #ff8b88;
  border-radius: 0;
}

.search-svg {
  position: absolute;

  fill: #ffffff;
}

.search-button {
  position: absolute;
  top: 73px;
  right: 4px;
  width: 40px;
  height: 40px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 2px;
  border-style: none;
  background-color: #ff8b88;
  outline-style: none;
}

.search-button:hover,
.search-button:focus {
  background-color: #d66e6a;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.card-item {
  position: relative;
  width: calc((100% - 15px) / 4);
  height: 266px;
  margin-right: 5px;
  margin-bottom: 5px;

  overflow: hidden;
  transition: 1s;
}
.card-item:nth-last-child(-n + 4) {
  margin-bottom: 0px;
}

.card-item:nth-child(4n) {
  margin-right: 0px;
}

.card-item:hover,
.card-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transform: scale(1.05);
  z-index: 100;
}

.photo-card {
  height: inherit;
  background-size: contain;
}

.photo-card img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: zoom-in;
}

.card-item:hover .stats,
.card-item:focus .stats {
  transform: translatey(216px);
}

.stats {
  position: absolute;
  display: flex;
  bottom: 0;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  min-width: 100%;
  padding: 10px;
  background: rgba(189, 189, 189, 0.4);

  top: 0;
  transform: translatey(266px);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.stats-item {
  display: flex;
  align-items: center;
}

.material-icons {
  color: rgb(20, 20, 20);
  font-size: 18px;
}

.loader {
  margin: auto;
  border: 6px solid #f3f3f3;
  border-top: 6px solid #ff8b88;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hide-loader {
  display: none;
}
